<div class="container">
  <br>
  <div class="row">
    <div class="col col-lg-8">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/img/banners/banner01.png" class="banner" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/banners/banner02.jpg" class="banner" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/banners/banner03.jpg" class="banner" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col col-lg-4">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur sequi aut non magnam iste
        reprehenderit
        quam facilis soluta! Perferendis praesentium quaerat aut voluptatibus in, delectus exercitationem maiores
        quibusdam. Distinctio, autem! </p>
    </div>
  </div>
  <br>
</div>
<!-- SEGUNDA PARTE --------------------------->
<hr>
<div>
  <h1>FARMACIA ESPERANZA</h1>
  <P>
    “Alivio en todo sentido”
    SanaSana, unidad de negocio de Corporación GPF se fundó en el año 2000. Concebida como la cadena de farmacias
    propias
    más grande del país, está presente en las 24 provincias del Ecuador, contribuyendo al bienestar y la salud de
    cientos de
    comunidades y barrios.

    Ofrece a sus clientes excelencia en el servicio y un amplio portafolio de medicinas y productos para el cuidado de
    su
    salud a precios competitivos.

    Honrando su promesa de valor, está cerca de sus clientes, en más de 500 puntos de venta a nivel nacional, para
    llevarles
    salud y alivio, entregándoles su receta completa con los mejores precios.

    FUNDADA EN EL 2000
    +500 FARMACIAS
    1700 SANASANA (726272)
  </P>
  <h1>
    RESPONSABILIDAD SOCIAL
  </h1>
  <P>Tenemos un compromiso con la salud, la educación y el bienestar de la comunidad. Junto a nuestros aliados, Cruz
    Roja
    Ecuatoriana y la Junta de Beneficencia de Guayaquil, desarrollamos iniciativas en los sectores más vulnerables del
    país.
    Desde el 2010 hemos beneficiado a más de 162.000 personas a nivel nacional. El campo de acción de Corporación GPF y
    su
    marca SanaSana se alinea con los Objetivos de Desarrollo Sostenible (ODS) de las Naciones Unidas, impactando de
    manera
    directa en el 52% de los 17 ODS.</P>
</div>