<!-- <div class="container animated fadeIn fast ">
</div> -->
<div class="container">
  <br>
  <div class="row">
    <div class="col col-lg-8">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/img/banners/banner01.png" class="banner" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/banners/banner02.jpg" class="banner" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/banners/banner03.jpg" class="banner" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col col-lg-4">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur sequi aut non magnam iste
        reprehenderit
        quam facilis soluta! Perferendis praesentium quaerat aut voluptatibus in, delectus exercitationem maiores
        quibusdam. Distinctio, autem! </p>
    </div>
  </div>
  <br>
</div>
<!-- SEGUNDA PARTE --------------------------->
<hr>
<div class="segundo bloque">
  <p> <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et unde tempore, molestiae possimus obcaecati
    aliquam
    ad illo iste blanditiis, natus numquam quasi nesciunt mollitia maiores quos eum deleniti est aliquid.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, aliquid praesentium cum labore officia dolorum
    distinctio, repudiandae eius quo blanditiis, fugit deleniti numquam minus necessitatibus! Voluptas odit laborum
    obcaecati beatae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur a eum quas error odio
    est
    aspernatur, reprehenderit explicabo. Culpa dolore, sunt aut tenetur ad consequatur blanditiis animi minima
    exercitationem quia.
  </p>
  <br>
</div>
<!-- TERCERA PARTE --------------------------->
<hr>
<div class="tercer bloque">
  <img src="assets/img/banners/banner01.png" class="d-block w-100" alt="...">
</div>
<!-- CUARTA PARTE --------------------------->
<hr>