

.social {
  margin: 0 0 0 0;
}
.social a {
  padding: 0 2px;
}
.social a span {
  height: 40px;
  width: 40px;
  color: #d9d9d9;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.social a span:hover {
  background: #f12020;
}
.logotipo {
  width: 30px;
  padding: 0 0;
}
