<!--          NAVBAR        -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Farmacia Nueva Cruz</a>
    <!--  <a class="navbar-brand" href="#">
        <img class="logotipo" src="assets/img/rrss/pharma.ico" alt="Logotipo" title="Farmacia">
      </a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- utility-Flex
              ml-auto => ms-auto
              mr-auto => me-auto
              -->
        <!--   active" aria-current="page -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['Home']">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['Services']">Servicios</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['Maps']">Encuentra Tu Farmacia</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['Home']">Catálogo del Mes</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Promociones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['Promotions']">Promoción 01</a></li>
            <li><a class="dropdown-item" href="#">Promoción 02</a></li>
            <li>
              <hr class="dropdown-divider">
              <!--Liniea divisoria-->
            </li>
            <li><a class="dropdown-item" href="#">Servicio 03</a></li>
          </ul>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['About']">¿Quienes somos?</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['Information']">Contactanos</a>
        </li>
        <li class="d-flex justify-content-center">
          <div class="social">
            <a href="#"><span class="fab fa-facebook-f"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="https://instagram.com/eddison221b"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-youtube"></span></a>
          </div>
        </li>


        <!--li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li-->
        <!---->
      </ul>
      <!--form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form-->
      <!--Buscar -->
    </div>
  </div>
  <!--fin container-->
</nav>