<footer>

  <div class="main-content">
    <div class="left box">
      <h2>Acerca de Nosotros</h2>
      <div class="content">
        <p>Somos una empresa orgullosamente ecuatoriana, pionera en el sector del retail farmacéutico. Nuestra misión es
          contribuir
          con el bienestar de la comunidad, ofreciendo servicios de excelencia y un amplio portafolio de medicinas y
          productos que
          complementan nuestra calidad garantizada. Contamos con más de 90 locales distribuidos en las principales
          ciudades de
          Ecuador.</p>
        <div class="social">
          <a href="#"><span class="fab fa-facebook-f"></span></a>
          <a href="#"><span class="fab fa-twitter"></span></a>
          <a href="#"><span class="fab fa-instagram"></span></a>
          <a href="#"><span class="fab fa-youtube"></span></a>
        </div>
      </div>
    </div>

    <div class="center box">
      <h2>Dirección</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Av. Ferroviaria entre Simon y Ecuador</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">072944567</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">farmacia@nuevacruz.com.ec</span>
        </div>
      </div>
    </div>

    <div class="right box">
      <h2>contactanos</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">Correo *</div>
            <input type="email" required>
          </div>
          <div class="msg">
            <div class="text">Mensaje *</div>
            <textarea rows="2" cols="2" required></textarea>
          </div>
          <div class="btn">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="center">
      <span class="credit">Created By <a href="https://meet.google.com/zcx-ozrk-cre">LuYoTe</a> | </span>
      <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
    </div>
  </div>
</footer>